<% layout('layouts/boilerplate') %>

<div class="text-center mx-auto">
  <h1 class="mb-3">Searching for: <%=search%></h1>
  <section class="col-md-6 px-5 mx-auto d-flex flex-column justify-content-center">
    <form action="/tea/browse" method="get">
      <div>
        <div class="row-md d-flex justify-content-md-end">
          <input
            class="form-control w-lg-75"
            list="datalistOptions"
            id="search"
            placeholder="Type to search..."
            name="search"
            minlength="3"
            maxlength="20"
          />
          <datalist id="datalistOptions">
            <%for (let vendor of vendors) {%>
            <option value="<%=vendor.name%>"><%}%></option>
          </datalist>
          <button class="btn btn-success">Search</button>
        </div>
      </div>
    </form>
  </section>
</div>
<%if (teas.length > 0) {%>
<table class="table teaTable">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Name</th>

      <th>Vendor</th>

      <th>Producer</th>

      <th>Year</th>
      <th>Region</th>
      <th>Village</th>
      <th>Shape</th>
      <th>Ageing location</th>
      <th>Ageing conditions</th>
    </tr>
  </thead>
  <tbody>
    <% for (let tea of teas) { %>

    <tr class="tearow">
      <td>Details</td>
      <td>
        <% if (currentUser && tea.owners.map(String).includes(String(currentUser._id))) { %>
        <form action="/tea/<%=tea._id%>/add?_method=DELETE" method="post">
          <button width="100" class="btn btn-outline-warning tableButton">
            Remove
          </button>
        </form>
        <% } else if (currentUser && !tea.owners.map(String).includes(String(currentUser._id))) { %>
        <form action="/tea/<%=tea._id%>/add" method="post">
          <button class="btn btn-outline-success tableButton">Collect</button
          ><%}%>
        </form>
      </td>
      <td>
        <% if (tea.images.length > 0) { %>
        <img src="<%=tea.images[0].thumbnail%>" />
        <%} else {%>
        <img
          width="40"
          height="40"
          src="https://img.freepik.com/premium-vector/chinese-traditional-tea-tasting-illustration-vector_391639-2027.jpg"
        />
        <%}%>
      </td>

      <td> <b><a href="/tea/<%=tea._id%>"><%=tea.name%></a></b></td>
      <td class="teaCellPrimary"> <b><% if (tea.vendor) {%> <%=tea.vendor.name%><%}%></b></td>
      <td class="teaCellPrimary"> <b><%if (tea.producer) {%><%=tea.producer.name%><%}%></b></td>
      <td class="teaCellSecondary"><%=tea.year%></td>
      <td class="teaCellSecondary"><%=tea.region%></td>
      <td class="teaCellSecondary"><%=tea.village%></td>
      <td class="teaCellSecondary"><%=tea.shape%></td>
      <td class="teaCellSecondary"><%=tea.ageing_location%></td>
      <td class="teaCellSecondary"><%=tea.ageing_conditions%></td>
    </tr>
    <%}%>
  </tbody>
</table>
<%} else {%>
  <div class="my-5 d-flex flex-column align-items-center vh-100"><p>Sorry, we couldn't find anything!</p></div>
 <%}%> 
</div>