<% layout('layouts/boilerplate') %>
<section id="show" class="mb-5">
  <div id="first-column">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <%if (tea.images.length ===0) {%>
      <img
        crossorigin="anonymous"
        src="https://res.cloudinary.com/dlem22ukx/image/upload/w_500,ar_1:1,c_fill,g_auto/v1734459128/chinese-pu-erh-tea-with-two-cups-and-pot_xemcbr.jpg"
        class="d-block w-100 mainImage"
        alt=""
      /><%}%>
      <div class="carousel-inner">
        <% tea.images.forEach((img, i)=> { %>
        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
          <img
            crossorigin="anonymous"
            src="<%=img.square%>"
            class="d-block w-100 mainImage"
            alt=""
          />
        </div>
        <%})%>
      </div>
      <% if (tea.images.length> 1) { %>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
    <!--reviews-->
    <div class="reviewbox">
      <% for (let review of tea.reviews) { %>
      <div id="reviews">
        <h5>Rating: <%=review.rating%></h5>
        <h6>
          By:
          <a href="/tea/collection/<%=review.author._id%>"
            ><%=review.author.username%></a
          >
        </h6>
        <p>Review: <%=review.body%></p>
        <form
          action="/tea/<%=tea._id%>/review/<%=review._id%>?_method=DELETE"
          method="POST"
        >
          <% if (currentUser && review.author.equals(currentUser._id)) {%>
          <div>
            <button class="btn btn-sm btn-danger">Delete</button>
          </div>
          <% } %>
        </form>
      </div>
      <% } %>
    </div>
  </div>

  <!--tea info-->
  <div>
    <h1><%=tea.name%> <%=tea.year%></h1>

    <p><%=tea.description%></p>

    <%if (tea.vendor) {%>
    <li>
      <b> Sold by: </b
      ><a
        class="link"
        href="/tea/browse?search=<%=tea.vendor.name%>&option=vendor"
        ><%=tea.vendor.name%></a
      >
    </li>
    <%}%> <%if (tea.producer) {%>
    <li>
      <b>Producer: </b
      ><a
        class="link"
        href="/tea/browse?search=<%=tea.producer.name%>&option=producer"
      >
        <%=tea.producer.name%></a
      >
    </li>
    <%}%>
    <li><b>Type: </b><%=tea.type%></li>
    <% if (tea.shape) { %>
    <li><b>Shape: </b><%=tea.shape%></li>
    <% } %> <% if (tea.village && tea.region) { %>
    <li>
      <b>Material from:</b> <%=tea.village%> village, <%=tea.region%> region
    </li>
    <% } if (tea.region && !tea.village) {%>
    <li><b> Material from: </b> <%=tea.region%> region</li>
    <% } if (tea.village && !tea.region) {%>
    <li><b> Material from: </b> <%=tea.village%> village</li>
    <% } %> <% if (tea.ageing_location) { %>
    <li><b> Aged in: </b> <%=tea.ageing_location%></li>
    <% } %> <% if (tea.ageing_conditions) { %>
    <li><b> Storage: </b> <%=tea.ageing_conditions%></li>
    <% } %> <% if (tea.average) { %>
    <li><b>Average Score: </b> <%=tea.average%></li>
    <% } %> <% if (myRatings) { %>
    <li><b>My Scores: </b> <%=myRatings%></li>
    <% } %>
    <!--leave a review-->
    <% if (currentUser) { %>
    <div class="mb-3">
      <form
        action="/tea/<%=tea._id%>/review"
        method="post"
        class="mb-3 validated-form"
        id="review-form"
      >
        <div class="mb-3 mt-3">
          <label class="form-label" for="rating">My rating</label>
          <input
            class="form-range"
            type="range"
            name="review[rating]"
            min="1"
            max="5"
            id="rating"
          />
        </div>

        <div class="mb-3">
          <textarea
            required
            class="form-control"
            id="body"
            name="review[body]"
            cols="30"
            rows="3"
            placeholder="Write your review here..."
          ></textarea>
          <div class="valid-feedback">Great!</div>
        </div>
        <div class="text-center">
          <button form="review-form" class="btn btn-success mb-3">
            Submit
          </button>
        </div>
      </form>
      <%}%>
      <!--reviews for smaller screens-->
      <div class="reviewbox2">
        <% for (let review of tea.reviews) { %>
        <div id="reviews2">
          <h5>Rating: <%=review.rating%></h5>
          <h6>By: <%=review.author.username%></h6>
          <p>Review: <%=review.body%></p>

          <% if (currentUser && review.author.equals(currentUser._id)) {%>
          <form
            action="/tea/<%=tea._id%>/review/<%=review._id%>?_method=DELETE"
            method="POST"
          >
            <div>
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
          </form>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</section>
