<% layout('layouts/boilerplate') %>
<h1>Admin Panel</h1>
<h2>Pending Vendors</h2>
<ul>
  <% vendors.forEach(vendor => { %>
  <li id="vendor-<%= vendor._id %>">
    <strong><%= vendor.name %></strong>
    <form action="/moderate/vendor/<%=vendor._id%>?_method=put&status=approved"
    method="post"
    novalidate
    class="validated-form">
    <button>
      Approve
    </button>
  </form>
  <form action="/moderate/vendor/<%=vendor._id%>?_method=put&status=rejected"
    method="post"
    novalidate
    class="validated-form">
    <button>
      Reject
    </button>
  </form>
  </li>
  <% }); %>
</ul>

<h2>Pending Producers</h2>
<ul>
  <% producers.forEach(producer => { %>
  <li id="producer-<%= producer._id %>">
    <strong><%= producer.name %></strong>
    <form action="/moderate/producer/<%=producer._id%>?_method=put&status=approved"
      method="post"
      novalidate
      class="validated-form">
      <button>
        Approve
      </button>
    </form>
    <form action="/moderate/producer/<%=producer._id%>?_method=put&status=rejected"
      method="post"
      novalidate
      class="validated-form">
      <button>
        Reject
      </button>
    </form>
  </li>
  <% }); %>
</ul>
